{"openapi":"3.1.0","info":{"title":"ordergroove-restrpc","version":"2.10.0"},"servers":[{"url":"https://restapi.ordergroove.com"}],"components":{"securitySchemes":{"x-api-key":{"type":"apiKey","in":"header","name":"x-api-key"}}},"security":[{},{"x-api-key":[]}],"paths":{"/subscriptions/":{"get":{"summary":"List","description":"Returns a list all of customer subscriptions for a merchant, or a list of subscriptions for an individual customer.","operationId":"subscriptions-list","parameters":[{"name":"live","in":"query","description":"Subscription status: active (True) or inactive (False)","schema":{"type":"array","items":{"type":"boolean"}}},{"name":"product","in":"query","description":"Unique product identifier","schema":{"type":"string"}},{"name":"shipping_address","in":"query","description":"Address ID","schema":{"type":"string"}},{"name":"customer","in":"query","description":"Customer ID (only available in API user scope)","schema":{"type":"string"}},{"name":"created","in":"query","description":"Subscription's created date exact match (yyyy-mm-dd)","schema":{"type":"string","format":"date"}},{"name":"created_start","in":"query","description":"Subscription's created date later or equal than parameter (yyyy-mm-dd)","schema":{"type":"string","format":"date"}},{"name":"created_end","in":"query","description":"Subscription's created date sooner or equal than parameter (yyyy-mm-dd)","schema":{"type":"string"}},{"name":"updated","in":"query","description":"Subscription's updated date exact match (yyyy-mm-dd). On subscription creation is populated with same value as created field.","schema":{"type":"string","format":"date"}},{"name":"updated_start","in":"query","description":"Subscription's updated datetime later or equal than parameter (yyyy-mm-ddThh:mm:ss)","schema":{"type":"string","format":"date"}},{"name":"updated_end","in":"query","description":"Subscription's updated date time is sooner or equal than parameter (yyyy-mm-ddThh:mm:ss)","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"count\": 1,\n  \"next\": \"https://restapi.ordergroove.com/subscriptions/?page=1\",\n  \"previous\": \"https://restapi.ordergroove.com/subscriptions/?page=3\",\n  \"results\": [\n    {\n      \"public_id\": \"f9cb2f93e1c845eb9de9eff46ddb3cbf\",\n      \"product_attribute\": null,\n      \"price\": \"12.99\",\n      \"frequency_days\": 42,\n      \"reminder_days\": 42,\n      \"start_date\": \"2017-02-29 12:00:00\",\n      \"cancelled\": null,\n      \"cancel_reason_code\": \"4|\",\n      \"cancel_reason\": \"4|Overstocked\",\n      \"merchant_order_id\": \"301617\",\n      \"subscription_type\": \"Replenish\",\n      \"components\": [\n        {  \n      \t\t\"public_id\": \"79d2dc76245111eeb185acde48001122\",  \n    \t\t  \"quantity\": 1,  \n    \t\t  \"product\": \"0070067690\"  \n   \t\t  },  \n    \t\t{  \n     \t\t  \"public_id\": \"7eeaa504245111eeb185acde48001122\",  \n      \t  \"quantity\": 3,  \n      \t  \"product\": \"0070067691\"  \n    \t\t}  \n      ],\n      \"created\": \"2017-02-29 12:00:00\",\n      \"updated\": \"2017-02-29 12:00:00\",\n      \"extra_data\": \"{\\\"some\\\": \\\"extra\\\", \\\"fields\\\": \\\"here\\\"}\",\n      \"live\": \"True\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"count":{"type":"integer","example":1,"default":0},"next":{"type":"string","example":"https://restapi.ordergroove.com/subscriptions/?page=1"},"previous":{"type":"string","example":"https://restapi.ordergroove.com/subscriptions/?page=3"},"results":{"type":"array","items":{"type":"object","properties":{"public_id":{"type":"string","example":"f9cb2f93e1c845eb9de9eff46ddb3cbf"},"product_attribute":{},"price":{"type":"string","example":"12.99"},"frequency_days":{"type":"integer","example":42,"default":0},"reminder_days":{"type":"integer","example":42,"default":0},"start_date":{"type":"string","example":"2017-02-29 12:00:00"},"cancelled":{},"cancel_reason_code":{"type":"string","example":"4|"},"cancel_reason":{"type":"string","example":"4|Overstocked"},"merchant_order_id":{"type":"string","example":"301617"},"subscription_type":{"type":"string","example":"Replenish"},"components":{"type":"array","items":{"type":"object","properties":{"public_id":{"type":"string","example":"79d2dc76245111eeb185acde48001122"},"quantity":{"type":"integer","example":1,"default":0},"product":{"type":"string","example":"0070067690"}}}},"created":{"type":"string","example":"2017-02-29 12:00:00"},"updated":{"type":"string","example":"2017-02-29 12:00:00"},"extra_data":{"type":"string","example":"{\"some\": \"extra\", \"fields\": \"here\"}"},"live":{"type":"string","example":"True"}}}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}}},"deprecated":false}},"/subscriptions/{subscription_id}/":{"get":{"summary":"Retrieve","description":"Returns information about a single subscription by its unique identifier.","operationId":"subscriptions-retrieve","parameters":[{"name":"subscription_id","in":"path","description":"unique subscription ID","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"customer\": \"00026001\",\n    \"merchant\": \"ac4f7938383a11e89ecbbc764e1107f2\",\n    \"product\": \"0070067689\",\n    \"payment\": \"443ddf72094711e9a5afbc764e1043b0\",\n    \"shipping_address\": \"394aee16d61611e88b4abc764e1043b0\",\n    \"offer\": \"a748aa648ac811e8af3bbc764e106cf4\",\n    \"subscription_type\": \"replenishment\",\n    \"components\": [],\n    \"extra_data\": {},\n    \"public_id\": \"0ff0f88accc511e8b6c0bc764e106cf4\",\n    \"product_attribute\": null,\n    \"quantity\": 4,\n    \"price\": null,\n    \"frequency_days\": 120,\n    \"reminder_days\": 10,\n    \"every\": 4,\n    \"every_period\": 3,\n    \"start_date\": \"2018-12-27\",\n    \"cancelled\": null,\n    \"cancel_reason\": null,\n    \"cancel_reason_code\": null,\n    \"iteration\": null,\n    \"sequence\": null,\n    \"session_id\": \"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086\",\n    \"merchant_order_id\": \"2906548\",\n    \"customer_rep\": null,\n    \"club\": null,\n    \"created\": \"2018-10-10 14:45:38\",\n    \"updated\": \"2019-01-17 12:09:23\",\n    \"live\": true\n}\n"}},"schema":{"type":"object","properties":{"customer":{"type":"string","example":"00026001"},"merchant":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2"},"product":{"type":"string","example":"0070067689"},"payment":{"type":"string","example":"443ddf72094711e9a5afbc764e1043b0"},"shipping_address":{"type":"string","example":"394aee16d61611e88b4abc764e1043b0"},"offer":{"type":"string","example":"a748aa648ac811e8af3bbc764e106cf4"},"subscription_type":{"type":"string","example":"replenishment"},"components":{"type":"array","items":{"type":"object","properties":{}}},"extra_data":{"type":"object","properties":{}},"public_id":{"type":"string","example":"0ff0f88accc511e8b6c0bc764e106cf4"},"product_attribute":{},"quantity":{"type":"integer","example":4,"default":0},"price":{},"frequency_days":{"type":"integer","example":120,"default":0},"reminder_days":{"type":"integer","example":10,"default":0},"every":{"type":"integer","example":4,"default":0},"every_period":{"type":"integer","example":3,"default":0},"start_date":{"type":"string","example":"2018-12-27"},"cancelled":{},"cancel_reason":{},"cancel_reason_code":{},"iteration":{},"sequence":{},"session_id":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086"},"merchant_order_id":{"type":"string","example":"2906548"},"customer_rep":{},"club":{},"created":{"type":"string","example":"2018-10-10 14:45:38"},"updated":{"type":"string","example":"2019-01-17 12:09:23"},"live":{"type":"boolean","example":true,"default":true}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n \t \"detail\": \"Unable to find requested asset.\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Unable to find requested asset."}}}}}}},"deprecated":false}},"/subscriptions/{subscription_id}/cancel/":{"patch":{"summary":"Cancel","description":"Cancels a subscription and any subsequent shipments.","operationId":"subscriptions-cancel","parameters":[{"name":"subscription_id","in":"path","description":"Unique Subscription ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"cancel_reason":{"type":"string","description":"Pipe-delimited cancel reason code and cancel reason details"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"customer\": \"00026001\",\n    \"merchant\": \"ac4f7938383a11e89ecbbc764e1107f2\",\n    \"product\": \"0070067689\",\n    \"payment\": \"443ddf72094711e9a5afbc764e1043b0\",\n    \"shipping_address\": \"394aee16d61611e88b4abc764e1043b0\",\n    \"offer\": \"a748aa648ac811e8af3bbc764e106cf4\",\n    \"subscription_type\": \"replenishment\",\n    \"components\": [],\n    \"extra_data\": {},\n    \"public_id\": \"0ff0f88accc511e8b6c0bc764e106cf4\",\n    \"product_attribute\": null,\n    \"quantity\": 4,\n    \"price\": null,\n    \"frequency_days\": 120,\n    \"reminder_days\": 10,\n    \"every\": 4,\n    \"every_period\": 3,\n    \"start_date\": \"2018-12-27\",\n    \"cancelled\": \"2019-04-02 13:54:12\",\n    \"cancel_reason\": \"4|Overstocked\",\n    \"cancel_reason_code\": 4,\n    \"iteration\": null,\n    \"sequence\": null,\n    \"session_id\": \"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086\",\n    \"merchant_order_id\": \"2906548\",\n    \"customer_rep\": null,\n    \"club\": null,\n    \"created\": \"2018-10-10 14:45:38\",\n    \"updated\": \"2019-04-02 13:54:12\",\n    \"live\": false\n}\n"}},"schema":{"type":"object","properties":{"customer":{"type":"string","example":"00026001"},"merchant":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2"},"product":{"type":"string","example":"0070067689"},"payment":{"type":"string","example":"443ddf72094711e9a5afbc764e1043b0"},"shipping_address":{"type":"string","example":"394aee16d61611e88b4abc764e1043b0"},"offer":{"type":"string","example":"a748aa648ac811e8af3bbc764e106cf4"},"subscription_type":{"type":"string","example":"replenishment"},"components":{"type":"array","items":{"type":"object","properties":{}}},"extra_data":{"type":"object","properties":{}},"public_id":{"type":"string","example":"0ff0f88accc511e8b6c0bc764e106cf4"},"product_attribute":{},"quantity":{"type":"integer","example":4,"default":0},"price":{},"frequency_days":{"type":"integer","example":120,"default":0},"reminder_days":{"type":"integer","example":10,"default":0},"every":{"type":"integer","example":4,"default":0},"every_period":{"type":"integer","example":3,"default":0},"start_date":{"type":"string","example":"2018-12-27"},"cancelled":{"type":"string","example":"2019-04-02 13:54:12"},"cancel_reason":{"type":"string","example":"4|Overstocked"},"cancel_reason_code":{"type":"integer","example":4,"default":0},"iteration":{},"sequence":{},"session_id":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086"},"merchant_order_id":{"type":"string","example":"2906548"},"customer_rep":{},"club":{},"created":{"type":"string","example":"2018-10-10 14:45:38"},"updated":{"type":"string","example":"2019-04-02 13:54:12"},"live":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"423":{"description":"423","content":{"application/json":{"examples":{"Result":{"value":"{'details': 'Resource is currently in use. Please try again shortly.'}"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"http","code":"https://staging.restapi.ordergroove.com/subscriptions/E3e9ac44a24f15e485b0bc764e107cf3/cancel/","name":"Staging"},{"language":"http","code":"https://restapi.ordergroove.com/subscriptions/E3e9ac44a24f15e485b0bc764e107cf3/cancel/","name":"Production"}],"samples-languages":["http"]}}},"/subscriptions/{subscription_id}/change_quantity/":{"patch":{"summary":"Change Quantity","description":"Updates the quantity of a subscription.","operationId":"subscriptions-change-quantity","parameters":[{"name":"subscription_id","in":"path","description":"Unique Subscription ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"quantity":{"type":"integer","description":"Number of items","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"customer\": \"00026001\",\n    \"merchant\": \"ac4f7938383a11e89ecbbc764e1107f2\",\n    \"product\": \"0070000693\",\n    \"payment\": \"443ddf72094711e9a5afbc764e1043b0\",\n    \"shipping_address\": \"394aee16d61611e88b4abc764e1043b0\",\n    \"offer\": \"a748aa648ac811e8af3bbc764e106cf4\",\n    \"subscription_type\": \"replenishment\",\n    \"components\": [],\n    \"extra_data\": {},\n    \"public_id\": \"607daa2accc811e88516bc764e106cf4\",\n    \"product_attribute\": null,\n    \"quantity\": 2,\n    \"price\": null,\n    \"frequency_days\": 180,\n    \"reminder_days\": 10,\n    \"every\": 6,\n    \"every_period\": 3,\n    \"start_date\": \"2018-12-27\",\n    \"cancelled\": null,\n    \"cancel_reason\": null,\n    \"cancel_reason_code\": null,\n    \"iteration\": null,\n    \"sequence\": null,\n    \"session_id\": \"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086\",\n    \"merchant_order_id\": \"2906548\",\n    \"customer_rep\": null,\n    \"club\": null,\n    \"created\": \"2018-10-10 15:09:21\",\n    \"updated\": \"2019-04-02 17:27:53\",\n    \"live\": true\n}\n"}},"schema":{"type":"object","properties":{"customer":{"type":"string","example":"00026001"},"merchant":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2"},"product":{"type":"string","example":"0070000693"},"payment":{"type":"string","example":"443ddf72094711e9a5afbc764e1043b0"},"shipping_address":{"type":"string","example":"394aee16d61611e88b4abc764e1043b0"},"offer":{"type":"string","example":"a748aa648ac811e8af3bbc764e106cf4"},"subscription_type":{"type":"string","example":"replenishment"},"components":{"type":"array","items":{"type":"object","properties":{}}},"extra_data":{"type":"object","properties":{}},"public_id":{"type":"string","example":"607daa2accc811e88516bc764e106cf4"},"product_attribute":{},"quantity":{"type":"integer","example":2,"default":0},"price":{},"frequency_days":{"type":"integer","example":180,"default":0},"reminder_days":{"type":"integer","example":10,"default":0},"every":{"type":"integer","example":6,"default":0},"every_period":{"type":"integer","example":3,"default":0},"start_date":{"type":"string","example":"2018-12-27"},"cancelled":{},"cancel_reason":{},"cancel_reason_code":{},"iteration":{},"sequence":{},"session_id":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086"},"merchant_order_id":{"type":"string","example":"2906548"},"customer_rep":{},"club":{},"created":{"type":"string","example":"2018-10-10 15:09:21"},"updated":{"type":"string","example":"2019-04-02 17:27:53"},"live":{"type":"boolean","example":true,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"[field_name]\": \"field_name error detail\"\n}\n"}},"schema":{"type":"object","properties":{"[field_name]":{"type":"string","example":"field_name error detail"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Unable to find requested asset.\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Unable to find requested asset."}}}}}}},"deprecated":false}},"/subscriptions/{subscription_id}/change_shipping/":{"patch":{"summary":"Change Shipping Address","description":"Changes the shipping address associated with the subscription.","operationId":"subscriptions-change-shipping-address","parameters":[{"name":"subscription_id","in":"path","description":"Unique subscription ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"shipping_address":{"type":"string","description":"Shipping address record ID"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"customer\": \"00026001\",\n    \"merchant\": \"ac4f7938383a11e89ecbbc764e1107f2\",\n    \"product\": \"0070000693\",\n    \"payment\": \"443ddf72094711e9a5afbc764e1043b0\",\n    \"shipping_address\": \"66c25cd0564011e9abc5bc764e107990\",\n    \"offer\": \"a748aa648ac811e8af3bbc764e106cf4\",\n    \"subscription_type\": \"replenishment\",\n    \"components\": [],\n    \"extra_data\": {},\n    \"public_id\": \"607daa2accc811e88516bc764e106cf4\",\n    \"product_attribute\": null,\n    \"quantity\": 21,\n    \"price\": null,\n    \"frequency_days\": 180,\n    \"reminder_days\": 10,\n    \"every\": 6,\n    \"every_period\": 3,\n    \"start_date\": \"2018-12-27\",\n    \"cancelled\": null,\n    \"cancel_reason\": null,\n    \"cancel_reason_code\": null,\n    \"iteration\": null,\n    \"sequence\": null,\n    \"session_id\": \"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086\",\n    \"merchant_order_id\": \"2906548\",\n    \"customer_rep\": null,\n    \"club\": null,\n    \"created\": \"2018-10-10 15:09:21\",\n    \"updated\": \"2019-04-04 11:06:03\",\n    \"live\": true\n}\n"}},"schema":{"type":"object","properties":{"customer":{"type":"string","example":"00026001"},"merchant":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2"},"product":{"type":"string","example":"0070000693"},"payment":{"type":"string","example":"443ddf72094711e9a5afbc764e1043b0"},"shipping_address":{"type":"string","example":"66c25cd0564011e9abc5bc764e107990"},"offer":{"type":"string","example":"a748aa648ac811e8af3bbc764e106cf4"},"subscription_type":{"type":"string","example":"replenishment"},"components":{"type":"array","items":{"type":"object","properties":{}}},"extra_data":{"type":"object","properties":{}},"public_id":{"type":"string","example":"607daa2accc811e88516bc764e106cf4"},"product_attribute":{},"quantity":{"type":"integer","example":21,"default":0},"price":{},"frequency_days":{"type":"integer","example":180,"default":0},"reminder_days":{"type":"integer","example":10,"default":0},"every":{"type":"integer","example":6,"default":0},"every_period":{"type":"integer","example":3,"default":0},"start_date":{"type":"string","example":"2018-12-27"},"cancelled":{},"cancel_reason":{},"cancel_reason_code":{},"iteration":{},"sequence":{},"session_id":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086"},"merchant_order_id":{"type":"string","example":"2906548"},"customer_rep":{},"club":{},"created":{"type":"string","example":"2018-10-10 15:09:21"},"updated":{"type":"string","example":"2019-04-04 11:06:03"},"live":{"type":"boolean","example":true,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"[field_name]\": \"field_name error detail\"\n}\n"}},"schema":{"type":"object","properties":{"[field_name]":{"type":"string","example":"field_name error detail"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":"{\n  \"detail\": \"Unable to find requested asset.\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Unable to find requested asset."}}}}}}},"deprecated":false}},"/subscriptions/{subscription_id}/change_payment/":{"patch":{"summary":"Change Payment","description":"Changes the payment method associated with the subscription.","operationId":"subscriptions-change-payment","parameters":[{"name":"subscription_id","in":"path","description":"Unique subscription ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"payment":{"type":"string","description":"Payment record ID"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"customer\": \"00026001\",\n    \"merchant\": \"ac4f7938383a11e89ecbbc764e1107f2\",\n    \"product\": \"0070000693\",\n    \"payment\": \"070001bc02fd11e99542bc764e1043b0\",\n    \"shipping_address\": \"66c25cd0564011e9abc5bc764e107990\",\n    \"offer\": \"a748aa648ac811e8af3bbc764e106cf4\",\n    \"subscription_type\": \"replenishment\",\n    \"components\": [],\n    \"extra_data\": {},\n    \"public_id\": \"607daa2accc811e88516bc764e106cf4\",\n    \"product_attribute\": null,\n    \"quantity\": 21,\n    \"price\": null,\n    \"frequency_days\": 180,\n    \"reminder_days\": 10,\n    \"every\": 6,\n    \"every_period\": 3,\n    \"start_date\": \"2018-12-27\",\n    \"cancelled\": null,\n    \"cancel_reason\": null,\n    \"cancel_reason_code\": null,\n    \"iteration\": null,\n    \"sequence\": null,\n    \"session_id\": \"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086\",\n    \"merchant_order_id\": \"2906548\",\n    \"customer_rep\": null,\n    \"club\": null,\n    \"created\": \"2018-10-10 15:09:21\",\n    \"updated\": \"2019-04-04 11:28:39\",\n    \"live\": true\n}\n"}},"schema":{"type":"object","properties":{"customer":{"type":"string","example":"00026001"},"merchant":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2"},"product":{"type":"string","example":"0070000693"},"payment":{"type":"string","example":"070001bc02fd11e99542bc764e1043b0"},"shipping_address":{"type":"string","example":"66c25cd0564011e9abc5bc764e107990"},"offer":{"type":"string","example":"a748aa648ac811e8af3bbc764e106cf4"},"subscription_type":{"type":"string","example":"replenishment"},"components":{"type":"array","items":{"type":"object","properties":{}}},"extra_data":{"type":"object","properties":{}},"public_id":{"type":"string","example":"607daa2accc811e88516bc764e106cf4"},"product_attribute":{},"quantity":{"type":"integer","example":21,"default":0},"price":{},"frequency_days":{"type":"integer","example":180,"default":0},"reminder_days":{"type":"integer","example":10,"default":0},"every":{"type":"integer","example":6,"default":0},"every_period":{"type":"integer","example":3,"default":0},"start_date":{"type":"string","example":"2018-12-27"},"cancelled":{},"cancel_reason":{},"cancel_reason_code":{},"iteration":{},"sequence":{},"session_id":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086"},"merchant_order_id":{"type":"string","example":"2906548"},"customer_rep":{},"club":{},"created":{"type":"string","example":"2018-10-10 15:09:21"},"updated":{"type":"string","example":"2019-04-04 11:28:39"},"live":{"type":"boolean","example":true,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"[field_name]\": \"field_name error detail\"\n}\n"}},"schema":{"type":"object","properties":{"[field_name]":{"type":"string","example":"field_name error detail"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Unable to find requested asset.\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Unable to find requested asset."}}}}}}},"deprecated":false}},"/subscriptions/{subscription_id}/change_email_reminder/":{"patch":{"summary":"Change Email Reminder","description":"Changes the number of days ahead of order placement to email a reminder to the customer.","operationId":"subscriptions-change-email-reminder","parameters":[{"name":"subscription_id","in":"path","description":"Unique subscription ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["reminder_days"],"properties":{"reminder_days":{"type":"integer","description":"Days before order placement to email reminder (minimum of 5)","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"customer\": \"00026001\",\n    \"merchant\": \"ac4f7938383a11e89ecbbc764e1107f2\",\n    \"product\": \"0070000693\",\n    \"payment\": \"070001bc02fd11e99542bc764e1043b0\",\n    \"shipping_address\": \"66c25cd0564011e9abc5bc764e107990\",\n    \"offer\": \"a748aa648ac811e8af3bbc764e106cf4\",\n    \"subscription_type\": \"replenishment\",\n    \"components\": [],\n    \"extra_data\": {},\n    \"public_id\": \"607daa2accc811e88516bc764e106cf4\",\n    \"product_attribute\": null,\n    \"quantity\": 21,\n    \"price\": null,\n    \"frequency_days\": 180,\n    \"reminder_days\": 10,\n    \"every\": 6,\n    \"every_period\": 3,\n    \"start_date\": \"2018-12-27\",\n    \"cancelled\": null,\n    \"cancel_reason\": null,\n    \"cancel_reason_code\": null,\n    \"iteration\": null,\n    \"sequence\": null,\n    \"session_id\": \"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086\",\n    \"merchant_order_id\": \"2906548\",\n    \"customer_rep\": null,\n    \"club\": null,\n    \"created\": \"2018-10-10 15:09:21\",\n    \"updated\": \"2019-04-04 11:28:39\",\n    \"live\": true\n}\n"}},"schema":{"type":"object","properties":{"customer":{"type":"string","example":"00026001"},"merchant":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2"},"product":{"type":"string","example":"0070000693"},"payment":{"type":"string","example":"070001bc02fd11e99542bc764e1043b0"},"shipping_address":{"type":"string","example":"66c25cd0564011e9abc5bc764e107990"},"offer":{"type":"string","example":"a748aa648ac811e8af3bbc764e106cf4"},"subscription_type":{"type":"string","example":"replenishment"},"components":{"type":"array","items":{"type":"object","properties":{}}},"extra_data":{"type":"object","properties":{}},"public_id":{"type":"string","example":"607daa2accc811e88516bc764e106cf4"},"product_attribute":{},"quantity":{"type":"integer","example":21,"default":0},"price":{},"frequency_days":{"type":"integer","example":180,"default":0},"reminder_days":{"type":"integer","example":10,"default":0},"every":{"type":"integer","example":6,"default":0},"every_period":{"type":"integer","example":3,"default":0},"start_date":{"type":"string","example":"2018-12-27"},"cancelled":{},"cancel_reason":{},"cancel_reason_code":{},"iteration":{},"sequence":{},"session_id":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086"},"merchant_order_id":{"type":"string","example":"2906548"},"customer_rep":{},"club":{},"created":{"type":"string","example":"2018-10-10 15:09:21"},"updated":{"type":"string","example":"2019-04-04 11:28:39"},"live":{"type":"boolean","example":true,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"[field_name]\": \"field_name error detail\"\n}\n"}},"schema":{"type":"object","properties":{"[field_name]":{"type":"string","example":"field_name error detail"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Unable to find requested asset.\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Unable to find requested asset."}}}}}}},"deprecated":false}},"/subscriptions/{subscription_id}/change_frequency/":{"patch":{"summary":"Change Frequency","description":"Changes how often to place an order.","operationId":"subscriptions-change-frequency","parameters":[{"name":"subscription_id","in":"path","description":"Unique subscription ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["every","every_period"],"properties":{"every":{"type":"integer","description":"Number of periods","format":"int32"},"every_period":{"type":"integer","description":"Type of period","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"customer\": \"00026001\",\n    \"merchant\": \"ac4f7938383a11e89ecbbc764e1107f2\",\n    \"product\": \"0070000693\",\n    \"payment\": \"070001bc02fd11e99542bc764e1043b0\",\n    \"shipping_address\": \"66c25cd0564011e9abc5bc764e107990\",\n    \"offer\": \"a748aa648ac811e8af3bbc764e106cf4\",\n    \"subscription_type\": \"replenishment\",\n    \"components\": [],\n    \"extra_data\": {},\n    \"public_id\": \"607daa2accc811e88516bc764e106cf4\",\n    \"product_attribute\": null,\n    \"quantity\": 21,\n    \"price\": null,\n    \"frequency_days\": 180,\n    \"reminder_days\": 10,\n    \"every\": 6,\n    \"every_period\": 3,\n    \"start_date\": \"2018-12-27\",\n    \"cancelled\": null,\n    \"cancel_reason\": null,\n    \"cancel_reason_code\": null,\n    \"iteration\": null,\n    \"sequence\": null,\n    \"session_id\": \"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086\",\n    \"merchant_order_id\": \"2906548\",\n    \"customer_rep\": null,\n    \"club\": null,\n    \"created\": \"2018-10-10 15:09:21\",\n    \"updated\": \"2019-04-04 11:28:39\",\n    \"live\": true\n}\n"}},"schema":{"type":"object","properties":{"customer":{"type":"string","example":"00026001"},"merchant":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2"},"product":{"type":"string","example":"0070000693"},"payment":{"type":"string","example":"070001bc02fd11e99542bc764e1043b0"},"shipping_address":{"type":"string","example":"66c25cd0564011e9abc5bc764e107990"},"offer":{"type":"string","example":"a748aa648ac811e8af3bbc764e106cf4"},"subscription_type":{"type":"string","example":"replenishment"},"components":{"type":"array","items":{"type":"object","properties":{}}},"extra_data":{"type":"object","properties":{}},"public_id":{"type":"string","example":"607daa2accc811e88516bc764e106cf4"},"product_attribute":{},"quantity":{"type":"integer","example":21,"default":0},"price":{},"frequency_days":{"type":"integer","example":180,"default":0},"reminder_days":{"type":"integer","example":10,"default":0},"every":{"type":"integer","example":6,"default":0},"every_period":{"type":"integer","example":3,"default":0},"start_date":{"type":"string","example":"2018-12-27"},"cancelled":{},"cancel_reason":{},"cancel_reason_code":{},"iteration":{},"sequence":{},"session_id":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086"},"merchant_order_id":{"type":"string","example":"2906548"},"customer_rep":{},"club":{},"created":{"type":"string","example":"2018-10-10 15:09:21"},"updated":{"type":"string","example":"2019-04-04 11:28:39"},"live":{"type":"boolean","example":true,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"[field_name]\": \"field_name error detail\"\n}\n"}},"schema":{"type":"object","properties":{"[field_name]":{"type":"string","example":"field_name error detail"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Unable to find requested asset.\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Unable to find requested asset."}}}}}}},"deprecated":false}},"/subscriptions/{subscription_id}/reactivate/":{"patch":{"summary":"Reactivate","description":"Changes a subscription from canceled/inactive to live/active.","operationId":"subscriptions-reactivate","parameters":[{"name":"subscription_id","in":"path","description":"Unique subscription ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["every","every_period","start_date"],"properties":{"every":{"type":"integer","description":"Number of periods","format":"int32"},"every_period":{"type":"integer","description":"Type of period","format":"int32"},"start_date":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"customer\": \"00026001\",\n    \"merchant\": \"ac4f7938383a11e89ecbbc764e1107f2\",\n    \"product\": \"0070000693\",\n    \"payment\": \"070001bc02fd11e99542bc764e1043b0\",\n    \"shipping_address\": \"66c25cd0564011e9abc5bc764e107990\",\n    \"offer\": \"a748aa648ac811e8af3bbc764e106cf4\",\n    \"subscription_type\": \"replenishment\",\n    \"components\": [],\n    \"extra_data\": {},\n    \"public_id\": \"607daa2accc811e88516bc764e106cf4\",\n    \"product_attribute\": null,\n    \"quantity\": 21,\n    \"price\": null,\n    \"frequency_days\": 180,\n    \"reminder_days\": 10,\n    \"every\": 6,\n    \"every_period\": 3,\n    \"start_date\": \"2018-12-27\",\n    \"cancelled\": null,\n    \"cancel_reason\": null,\n    \"cancel_reason_code\": null,\n    \"iteration\": null,\n    \"sequence\": null,\n    \"session_id\": \"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086\",\n    \"merchant_order_id\": \"2906548\",\n    \"customer_rep\": null,\n    \"club\": null,\n    \"created\": \"2018-10-10 15:09:21\",\n    \"updated\": \"2019-04-04 11:28:39\",\n    \"live\": true\n}\n"}},"schema":{"type":"object","properties":{"customer":{"type":"string","example":"00026001"},"merchant":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2"},"product":{"type":"string","example":"0070000693"},"payment":{"type":"string","example":"070001bc02fd11e99542bc764e1043b0"},"shipping_address":{"type":"string","example":"66c25cd0564011e9abc5bc764e107990"},"offer":{"type":"string","example":"a748aa648ac811e8af3bbc764e106cf4"},"subscription_type":{"type":"string","example":"replenishment"},"components":{"type":"array","items":{"type":"object","properties":{}}},"extra_data":{"type":"object","properties":{}},"public_id":{"type":"string","example":"607daa2accc811e88516bc764e106cf4"},"product_attribute":{},"quantity":{"type":"integer","example":21,"default":0},"price":{},"frequency_days":{"type":"integer","example":180,"default":0},"reminder_days":{"type":"integer","example":10,"default":0},"every":{"type":"integer","example":6,"default":0},"every_period":{"type":"integer","example":3,"default":0},"start_date":{"type":"string","example":"2018-12-27"},"cancelled":{},"cancel_reason":{},"cancel_reason_code":{},"iteration":{},"sequence":{},"session_id":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086"},"merchant_order_id":{"type":"string","example":"2906548"},"customer_rep":{},"club":{},"created":{"type":"string","example":"2018-10-10 15:09:21"},"updated":{"type":"string","example":"2019-04-04 11:28:39"},"live":{"type":"boolean","example":true,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"[field_name]\": \"field_name error detail\"\n}\n"}},"schema":{"type":"object","properties":{"[field_name]":{"type":"string","example":"field_name error detail"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Unable to find requested asset.\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Unable to find requested asset."}}}}}}},"deprecated":false}},"/subscriptions/{subscription_id}/update/":{"patch":{"summary":"Update","description":"Updates the \"extra_data\", \"price\", \"components\", \"offer\", and \"cancel_reason\" fields.","operationId":"subscriptions-update","parameters":[{"name":"subscription_id","in":"path","description":"Unique subscription ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"extra_data":{"type":"string","description":"JSON object that should be JSON.parse() as key/value store for any extra information.","format":"json"},"price":{"type":"string","description":"Price, must be in decimal form ex: 10.00"},"components":{"type":"array","description":"Array of JSON objects to set product IDs that are the legacy bundle components. For example: \"components\": [ {\"product\":\"123\"}, {\"product\":\"456\"}, {\"product\":\"789\"} ],"},"offer":{"type":"string","description":"Public ID of the new offer."},"cancel_reason":{"type":"string","description":"Pipe-delimited cancel reason code and cancel reason details, e.g. \"4|Overstocked\""}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"customer\": \"00026001\",\n    \"merchant\": \"ac4f7938383a11e89ecbbc764e1107f2\",\n    \"product\": \"0070000693\",\n    \"payment\": \"070001bc02fd11e99542bc764e1043b0\",\n    \"shipping_address\": \"66c25cd0564011e9abc5bc764e107990\",\n    \"offer\": \"a748aa648ac811e8af3bbc764e106cf4\",\n    \"subscription_type\": \"replenishment\",\n    \"components\": [],\n    \"extra_data\": {},\n    \"public_id\": \"607daa2accc811e88516bc764e106cf4\",\n    \"product_attribute\": null,\n    \"quantity\": 21,\n    \"price\": null,\n    \"frequency_days\": 180,\n    \"reminder_days\": 10,\n    \"every\": 6,\n    \"every_period\": 3,\n    \"start_date\": \"2018-12-27\",\n    \"cancelled\": null,\n    \"cancel_reason\": null,\n    \"cancel_reason_code\": null,\n    \"iteration\": null,\n    \"sequence\": null,\n    \"session_id\": \"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086\",\n    \"merchant_order_id\": \"2906548\",\n    \"customer_rep\": null,\n    \"club\": null,\n    \"created\": \"2018-10-10 15:09:21\",\n    \"updated\": \"2019-04-04 11:28:39\",\n    \"live\": true\n}\n"}},"schema":{"type":"object","properties":{"customer":{"type":"string","example":"00026001"},"merchant":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2"},"product":{"type":"string","example":"0070000693"},"payment":{"type":"string","example":"070001bc02fd11e99542bc764e1043b0"},"shipping_address":{"type":"string","example":"66c25cd0564011e9abc5bc764e107990"},"offer":{"type":"string","example":"a748aa648ac811e8af3bbc764e106cf4"},"subscription_type":{"type":"string","example":"replenishment"},"components":{"type":"array","items":{"type":"object","properties":{}}},"extra_data":{"type":"object","properties":{}},"public_id":{"type":"string","example":"607daa2accc811e88516bc764e106cf4"},"product_attribute":{},"quantity":{"type":"integer","example":21,"default":0},"price":{},"frequency_days":{"type":"integer","example":180,"default":0},"reminder_days":{"type":"integer","example":10,"default":0},"every":{"type":"integer","example":6,"default":0},"every_period":{"type":"integer","example":3,"default":0},"start_date":{"type":"string","example":"2018-12-27"},"cancelled":{},"cancel_reason":{},"cancel_reason_code":{},"iteration":{},"sequence":{},"session_id":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086"},"merchant_order_id":{"type":"string","example":"2906548"},"customer_rep":{},"club":{},"created":{"type":"string","example":"2018-10-10 15:09:21"},"updated":{"type":"string","example":"2019-04-04 11:28:39"},"live":{"type":"boolean","example":true,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"[field_name]\": \"field_name error detail\"\n}\n"}},"schema":{"type":"object","properties":{"[field_name]":{"type":"string","example":"field_name error detail"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Unable to find requested asset.\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Unable to find requested asset."}}}}}},"423":{"description":"423","content":{"application/json":{"examples":{"Result":{"value":"{'details': 'Resource is currently in use. Please try again shortly.'}"}}}}}},"deprecated":false}},"/subscriptions/iu/":{"post":{"summary":"Create in Order","description":"Creates a subscription with its first shipment in an existing order (dictated by the 'order' field in the request). This will be tracked by OrderGroove as an 'Impulse Upsell' order.","operationId":"subscriptions-create-in-order","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["merchant","customer","product","offer","order","session_id","payment","shipping_address","quantity","every","every_period"],"properties":{"merchant":{"type":"string","description":"Merchant ID"},"customer":{"type":"string","description":"Customer ID"},"product":{"type":"string","description":"Product ID"},"price":{"type":"string","description":"Price of subscription. To be used with Price Lock."},"offer":{"type":"string","description":"Offer ID"},"order":{"type":"string","description":"Order ID"},"session_id":{"type":"string","description":"Session ID, obtained from og_session_id cookie"},"payment":{"type":"string","description":"Payment record ID"},"shipping_address":{"type":"string","description":"Shipping address record ID"},"quantity":{"type":"integer","description":"Number of items","format":"int32"},"every":{"type":"integer","description":"Number of periods","format":"int32"},"every_period":{"type":"integer","description":"Type of period","format":"int32"},"extra_data":{"type":"string","description":"{\"cat_name\": \"Charlie\"}","format":"json"},"components":{"type":"array","description":"Multi Item Bundle components:  [{\"product\":\"public_id_abc\", \"quantity\": 2}], Legacy Bundle components: [{\"product\":\"public_id_abc\"}]","items":{"properties":{"product":{"type":"string","description":"The id of the product that is being added to the bundle"},"quantity":{"type":"integer","description":"The quantity of the product being added","default":1,"format":"int32"}},"required":["product","quantity"],"type":"object"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"public_id\": \"f9cb2f93e1c845eb9de9eff46ddb3cbf\",\n  \"product_attribute\": null,\n  \"price\": \"12.99\",\n  \"frequency_days\": 42,\n  \"reminder_days\": 42,\n  \"start_date\": \"2017-02-29 12:00:00\",\n  \"cancelled\": null,\n  \"cancel_reason_code\": \"4|\",\n  \"cancel_reason\": \"4|Overstocked\",\n  \"merchant_order_id\": \"301617\",\n  \"subscription_type\": \"Replenish\",\n  \"components\": [\n    {\n      \"product\": \"product_id_1\"\n    }\n  ],\n  \"created\": \"2017-02-29 12:00:00\",\n  \"updated\": \"2017-02-29 12:00:00\",\n  \"extra_data\": \"{\\\"some\\\": \\\"extra\\\", \\\"fields\\\": \\\"here\\\"}\",\n  \"live\": \"True\"\n}"}},"schema":{"type":"object","properties":{"public_id":{"type":"string","example":"f9cb2f93e1c845eb9de9eff46ddb3cbf"},"product_attribute":{},"price":{"type":"string","example":"12.99"},"frequency_days":{"type":"integer","example":42,"default":0},"reminder_days":{"type":"integer","example":42,"default":0},"start_date":{"type":"string","example":"2017-02-29 12:00:00"},"cancelled":{},"cancel_reason_code":{"type":"string","example":"4|"},"cancel_reason":{"type":"string","example":"4|Overstocked"},"merchant_order_id":{"type":"string","example":"301617"},"subscription_type":{"type":"string","example":"Replenish"},"components":{"type":"array","items":{"type":"object","properties":{"product":{"type":"string","example":"product_id_1"}}}},"created":{"type":"string","example":"2017-02-29 12:00:00"},"updated":{"type":"string","example":"2017-02-29 12:00:00"},"extra_data":{"type":"string","example":"{\"some\": \"extra\", \"fields\": \"here\"}"},"live":{"type":"string","example":"True"}}}}}},"400":{"description":"400","content":{"text/plain":{"examples":{"Result":{"value":"{\n  \"[field_name]\": \"field_name error detail\"\n}"}},"schema":{"type":"object","properties":{"[field_name]":{"type":"string","example":"field_name error detail"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}}},"deprecated":false}},"/subscriptions/create_from_item/":{"post":{"summary":"Create From Item","description":"Creates a subscription based on the properties of an item and order.","operationId":"subscriptions-create-from-item","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["item","every","every_period"],"properties":{"item":{"type":"string","description":"Item ID"},"every":{"type":"integer","description":"Number of periods","format":"int32"},"every_period":{"type":"integer","description":"Type of period","format":"int32"},"offer":{"type":"string","description":"Offer ID"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"customer\": \"00026001\",\n    \"merchant\": \"ac4f7938383a11e89ecbbc764e1107f2\",\n    \"product\": \"0070000693\",\n    \"payment\": \"070001bc02fd11e99542bc764e1043b0\",\n    \"shipping_address\": \"66c25cd0564011e9abc5bc764e107990\",\n    \"offer\": \"a748aa648ac811e8af3bbc764e106cf4\",\n    \"subscription_type\": \"replenishment\",\n    \"components\": [\n      {\n        \"product\": \"product_id_1\"\n      }\n    ],\n    \"extra_data\": {},\n    \"public_id\": \"607daa2accc811e88516bc764e106cf4\",\n    \"product_attribute\": null,\n    \"quantity\": 21,\n    \"price\": null,\n    \"frequency_days\": 180,\n    \"reminder_days\": 10,\n    \"every\": 6,\n    \"every_period\": 3,\n    \"start_date\": \"2018-12-27\",\n    \"cancelled\": null,\n    \"cancel_reason\": null,\n    \"cancel_reason_code\": null,\n    \"iteration\": null,\n    \"sequence\": null,\n    \"session_id\": \"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086\",\n    \"merchant_order_id\": \"2906548\",\n    \"customer_rep\": null,\n    \"club\": null,\n    \"created\": \"2018-10-10 15:09:21\",\n    \"updated\": \"2019-04-04 11:28:39\",\n    \"live\": true\n}\n"}},"schema":{"type":"object","properties":{"customer":{"type":"string","example":"00026001"},"merchant":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2"},"product":{"type":"string","example":"0070000693"},"payment":{"type":"string","example":"070001bc02fd11e99542bc764e1043b0"},"shipping_address":{"type":"string","example":"66c25cd0564011e9abc5bc764e107990"},"offer":{"type":"string","example":"a748aa648ac811e8af3bbc764e106cf4"},"subscription_type":{"type":"string","example":"replenishment"},"components":{"type":"array","items":{"type":"object","properties":{"product":{"type":"string","example":"product_id_1"}}}},"extra_data":{"type":"object","properties":{}},"public_id":{"type":"string","example":"607daa2accc811e88516bc764e106cf4"},"product_attribute":{},"quantity":{"type":"integer","example":21,"default":0},"price":{},"frequency_days":{"type":"integer","example":180,"default":0},"reminder_days":{"type":"integer","example":10,"default":0},"every":{"type":"integer","example":6,"default":0},"every_period":{"type":"integer","example":3,"default":0},"start_date":{"type":"string","example":"2018-12-27"},"cancelled":{},"cancel_reason":{},"cancel_reason_code":{},"iteration":{},"sequence":{},"session_id":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086"},"merchant_order_id":{"type":"string","example":"2906548"},"customer_rep":{},"club":{},"created":{"type":"string","example":"2018-10-10 15:09:21"},"updated":{"type":"string","example":"2019-04-04 11:28:39"},"live":{"type":"boolean","example":true,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"[field_name]\": \"field_name error detail\"\n}\n"}},"schema":{"type":"object","properties":{"[field_name]":{"type":"string","example":"field_name error detail"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}}},"deprecated":false}},"/subscriptions/{subscription_public_id}/change_product/":{"patch":{"summary":"Change Product","description":"Changes the product that the subscription is tied to.","operationId":"subscriptions-change-product","parameters":[{"name":"subscription_public_id","in":"path","description":"Unique subscription ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["product"],"properties":{"product":{"type":"string","description":"Product ID"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"customer\": \"00026001\",\n    \"merchant\": \"ac4f7938383a11e89ecbbc764e1107f2\",\n    \"product\": \"0070000693\",\n    \"payment\": \"070001bc02fd11e99542bc764e1043b0\",\n    \"shipping_address\": \"66c25cd0564011e9abc5bc764e107990\",\n    \"offer\": \"a748aa648ac811e8af3bbc764e106cf4\",\n    \"subscription_type\": \"replenishment\",\n    \"components\": [],\n    \"extra_data\": {},\n    \"public_id\": \"607daa2accc811e88516bc764e106cf4\",\n    \"product_attribute\": null,\n    \"quantity\": 21,\n    \"price\": null,\n    \"frequency_days\": 180,\n    \"reminder_days\": 10,\n    \"every\": 6,\n    \"every_period\": 3,\n    \"start_date\": \"2018-12-27\",\n    \"cancelled\": null,\n    \"cancel_reason\": null,\n    \"cancel_reason_code\": null,\n    \"iteration\": null,\n    \"sequence\": null,\n    \"session_id\": \"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086\",\n    \"merchant_order_id\": \"2906548\",\n    \"customer_rep\": null,\n    \"club\": null,\n    \"created\": \"2018-10-10 15:09:21\",\n    \"updated\": \"2019-04-04 11:28:39\",\n    \"live\": true\n}\n"}},"schema":{"type":"object","properties":{"customer":{"type":"string","example":"00026001"},"merchant":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2"},"product":{"type":"string","example":"0070000693"},"payment":{"type":"string","example":"070001bc02fd11e99542bc764e1043b0"},"shipping_address":{"type":"string","example":"66c25cd0564011e9abc5bc764e107990"},"offer":{"type":"string","example":"a748aa648ac811e8af3bbc764e106cf4"},"subscription_type":{"type":"string","example":"replenishment"},"components":{"type":"array","items":{"type":"object","properties":{}}},"extra_data":{"type":"object","properties":{}},"public_id":{"type":"string","example":"607daa2accc811e88516bc764e106cf4"},"product_attribute":{},"quantity":{"type":"integer","example":21,"default":0},"price":{},"frequency_days":{"type":"integer","example":180,"default":0},"reminder_days":{"type":"integer","example":10,"default":0},"every":{"type":"integer","example":6,"default":0},"every_period":{"type":"integer","example":3,"default":0},"start_date":{"type":"string","example":"2018-12-27"},"cancelled":{},"cancel_reason":{},"cancel_reason_code":{},"iteration":{},"sequence":{},"session_id":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2.896371.1539022086"},"merchant_order_id":{"type":"string","example":"2906548"},"customer_rep":{},"club":{},"created":{"type":"string","example":"2018-10-10 15:09:21"},"updated":{"type":"string","example":"2019-04-04 11:28:39"},"live":{"type":"boolean","example":true,"default":true}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Unable to find requested asset.\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Unable to find requested asset."}}}}}}},"deprecated":false}},"/subscriptions/{subscription_id}/rotation_ordinal/{product_id}":{"get":{"summary":"Retrieve Rotating Ordinal Subscription Context","description":"Returns the Ordinal Subscription Context for the given subscription and product. This `ordinal` represents the number of recurring orders for the given product and subscription combination - see https://developer.ordergroove.com/docs/ordinal-based-rotating-products#example for an example.","operationId":"retrieve-ordinal-subscription-context","parameters":[{"name":"subscription_id","in":"path","description":"Subscription Public ID","schema":{"type":"string"},"required":true},{"name":"product_id","in":"path","description":"Product ID","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Active Subscription":{"value":"{\n    \"ordinal\": 3,\n    \"rotating_product\": \"active_rotating_product\",\n    \"subscription\": \"g65765d4932511ef8dcce65j0382kc89\",\n    \"active\": true\n}"},"Inactive Subscription + Rotating Product":{"value":"{\n    \"ordinal\": 5,\n    \"rotating_product\": \"inactivie-product\",\n    \"subscription\": \"g65765d4932511ef8dcce65j0382kc89\",\n    \"active\": false\n}"}},"schema":{"oneOf":[{"title":"Active Subscription","type":"object","properties":{"ordinal":{"type":"integer","example":3,"default":0},"rotating_product":{"type":"string","example":"active_rotating_product"},"subscription":{"type":"string","example":"g65765d4932511ef8dcce65j0382kc89"},"active":{"type":"boolean","example":true,"default":true}}},{"title":"Inactive Subscription + Rotating Product","type":"object","properties":{"ordinal":{"type":"integer","example":5,"default":0},"rotating_product":{"type":"string","example":"inactivie-product"},"subscription":{"type":"string","example":"g65765d4932511ef8dcce65j0382kc89"},"active":{"type":"boolean","example":false,"default":true}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad Request - Non-Rotating Product":{"value":"{\n\t\"Product is not of rotating type\"\n}"},"Bad Request - Called on Bundle Product":{"value":"{\n\t\"Product is a multi-item bundle, the context must be retrieved for each component\"\n}"}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Not Found - Subscription + Product Pairing Invalid":{"value":"{\n\t\"No context found\"\n}"}}}}}},"deprecated":false}},"/subscriptions/{subscription_id}/rotation_ordinal/update/":{"patch":{"summary":"Set Subscription Ordinal for Rotating Product","description":"Control where the customer's rotating subscription is on the rotation cycle","operationId":"set-subscription-ordinal-for-rotation-product","parameters":[{"name":"subscription_id","in":"path","description":"Subscription Public ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["rotating_product"],"properties":{"rotating_product":{"type":"string","description":"External Product ID"},"ordinal":{"type":"integer","description":"Positive integer that tracks where the subscription is on the rotating subscription cycle","format":"int32"}}},"examples":{"Request Example":{"value":{"rotating_product":"48398725906723","ordinal":3}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"ordinal\": 3,\n    \"rotation_product\": \"48398725906723\",\n    \"subscription\": \"f3d45e96871a11efaaddce3115cc9708\"\n}"}},"schema":{"type":"object","properties":{"ordinal":{"type":"integer","example":3,"default":0},"rotation_product":{"type":"string","example":"48398725906723"},"subscription":{"type":"string","example":"f3d45e96871a11efaaddce3115cc9708"}}}}}},"400":{"description":"400","content":{"text/plain":{"examples":{"Subscription not found":{"value":"\"Subscription not found\""},"Product not found":{"value":"\"Product not found\""}},"schema":{"oneOf":[{"title":"Subscription not found","type":"string","example":"Subscription not found"},{"title":"Product not found","type":"string","example":"Product not found"}]}}}}},"deprecated":false}},"/subscriptions/components/{component_public_id}/":{"get":{"summary":"Retrieve Component","description":"Retrieve information about a specific component by public_id","operationId":"retrieve-component","parameters":[{"name":"component_public_id","in":"path","description":"Unique component ID","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"public_id\": \"79d2dc76245111eeb185acde48001122\",\n  \"quantity\": 1,\n  \"product\": \"0070067690\"\n}"}},"schema":{"type":"object","properties":{"public_id":{"type":"string","example":"79d2dc76245111eeb185acde48001122"},"quantity":{"type":"integer","example":1,"default":0},"product":{"type":"string","example":"0070067690"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/subscriptions/{subscription_public_Id}/components/bulk_operation/":{"post":{"summary":"Update Components","description":"Atomically modify (create, update, and/or delete) components associated with a subscription","operationId":"update-components","parameters":[{"name":"subscription_public_Id","in":"path","description":"Unique subscription ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"create":{"type":"array","description":"Bundle Components to create with product and its quantity","items":{"properties":{"product":{"type":"string","description":"The id of the product that is being added to the bundle"},"quantity":{"type":"integer","description":"The quantity of the product being added","default":1,"format":"int32"}},"required":["product","quantity"],"type":"object"}},"update":{"type":"array","description":"Bundle Components to be updated with fields to change","items":{"properties":{"public_id":{"type":"string","description":"The id of the component to be modified"},"quantity":{"type":"integer","description":"The new quantity to set for the component","format":"int32"},"product":{"type":"string","description":"The new product to set for the component"}},"required":["public_id"],"type":"object"}},"delete":{"type":"array","description":"Bundle components public ids to be deleted [\"85eae83c245111eeb185acde48001122\",\"b3928a0c3c4211eeac2bacde48001122\"]","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"created\": [{\n        \"public_id\": \"c5a95e1a3c8711eeaea2acde48001122\",\n        \"product\": \"new_product_1\",\n        \"quantity\": 2\n    },{\n        \"public_id\": \"df2b47a43c8711eeaea2acde48001122\", \n        \"product\": \"new_product_2\",\n        \"quantity\": 1\n    }],\n    \"updated\": [{\n        \"public_id\": \"b3928a0c3c4211eeac2bacde48001122\",\n        \"product\": \"existing_product_1\",\n        \"quantity\": 2\n    }],\n    \"deleted\": [{\n        \"public_id\": \"da850a7c3c4211eeac2bacde48001122\",\n        \"product\": \"existing_product_2\",\n        \"quantity\": 2\n    }]\n}"}},"schema":{"type":"object","properties":{"created":{"type":"array","items":{"type":"object","properties":{"public_id":{"type":"string","example":"c5a95e1a3c8711eeaea2acde48001122"},"product":{"type":"string","example":"new_product_1"},"quantity":{"type":"integer","example":2,"default":0}}}},"updated":{"type":"array","items":{"type":"object","properties":{"public_id":{"type":"string","example":"b3928a0c3c4211eeac2bacde48001122"},"product":{"type":"string","example":"existing_product_1"},"quantity":{"type":"integer","example":2,"default":0}}}},"deleted":{"type":"array","items":{"type":"object","properties":{"public_id":{"type":"string","example":"da850a7c3c4211eeac2bacde48001122"},"product":{"type":"string","example":"existing_product_2"},"quantity":{"type":"integer","example":2,"default":0}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}},"/subscriptions/{subscription_id}/apply_discount_code/":{"patch":{"summary":"Apply Discount Code To Subscription","description":"Applies a Discount Code to the underlying Shopify Subscription Contract.","operationId":"apply-discount-code-to-subscription","parameters":[{"name":"subscription_id","in":"path","description":"Unique Subscription ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"discount_code":{"type":"string","description":"The discount (or redeem) code to be applied."}}}}}},"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"error\": \"Discount code is invalid.\"\n}"}},"schema":{"type":"object","properties":{"error":{"type":"string","example":"Discount code is invalid."}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"detail\": \"Not found.\"\n}"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Not found."}}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"error\": \"Purchase amount of items does not qualify for the discount.\"\n}"}},"schema":{"type":"object","properties":{"error":{"type":"string","example":"Purchase amount of items does not qualify for the discount."}}}}}}},"deprecated":false}},"/subscriptions/{subscription_id}/remove_discount_code/":{"patch":{"summary":"Remove Discount Code From Subscription","description":"Removes a Discount Code from the underlying Shopify Subscription Contract.","operationId":"remove-discount-code-from-subscription","parameters":[{"name":"subscription_id","in":"path","description":"Unique Subscription ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"discount_code":{"type":"string","description":"The discount code to be removed from the subscription."}}}}}},"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"error\": \"Discount code is invalid.\"\n}"}},"schema":{"type":"object","properties":{"error":{"type":"string","example":"Discount code is invalid."}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"error\": \"Discount code not found on subscription contract.\"\n}"}},"schema":{"type":"object","properties":{"error":{"type":"string","example":"Discount code not found on subscription contract."}}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"error\": \"subscription has no contract associated or the discount code cannot be removed from the contract.\"\n}"}},"schema":{"type":"object","properties":{"error":{"type":"string","example":"subscription has no contract associated or the discount code cannot be removed from the contract."}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"text","code":"PATCH [Base URL]/subscriptions/{subscription_id}/remove_discount_code\nContent-Type: application/json\n{\n  \"discount_code\": \"20OFFSUMMER\"\n}"}],"samples-languages":["text"]}}},"/orders/":{"get":{"summary":"List","description":"Lists all of a single user’s orders.","operationId":"orders-list","parameters":[{"name":"status","in":"query","description":"Order status","schema":{"type":"integer","format":"int32"}},{"name":"subscription","in":"query","description":"Subscription ID","schema":{"type":"string"}},{"name":"customer","in":"query","description":"Customer ID (only available in API user scope)","schema":{"type":"string"}},{"name":"place","in":"query","description":"Order's place date exact match (yyyy-mm-dd)","schema":{"type":"string","format":"date"}},{"name":"place_start","in":"query","description":"Order's place date later or equal than parameter (yyyy-mm-dd)","schema":{"type":"string","format":"date"}},{"name":"place_end","in":"query","description":"Order's place date sooner or equal than parameter (yyyy-mm-dd)","schema":{"type":"string","format":"date"}},{"name":"created","in":"query","description":"Orders whose created date matches exactly (yyyy-mm-dd)","schema":{"type":"string","format":"date"}},{"name":"created_start","in":"query","description":"Orders whose created datetime is greater than or equal to the given datetime (yyyy-mm-dd or yyyy-mm-ddThh:mm:ss)","schema":{"type":"string","format":"date"}},{"name":"created_end","in":"query","description":"Orders whose created datetime is less than or equal to the given datetime (yyyy-mm-dd or yyyy-mm-ddThh:mm:ss)","schema":{"type":"string","format":"date"}},{"name":"updated","in":"query","description":"Orders whose updated date matches exactly (yyyy-mm-dd). On order creation it is populated with same value as created field.","schema":{"type":"string","format":"date"}},{"name":"updated_start","in":"query","description":"Orders whose updated datetime is greater than or equal to the given datetime (yyyy-mm-dd or yyyy-mm-ddThh:mm:ss)","schema":{"type":"string","format":"date"}},{"name":"updated_end","in":"query","description":"Orders whose updated datetime is less than or equal to the given datetime (yyyy-mm-dd or yyyy-mm-ddThh:mm:ss)","schema":{"type":"string","format":"date"}},{"name":"include_has_plan","in":"query","description":"If true, each order object in the response includes a has_plan field indicating whether that order contains at least one product with product_type=plan","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\"results\": [\n        {\n            \"merchant\": \"ac4f7938383a11e89ecbbc764e1107f2\",\n            \"customer\": \"00026001\",\n            \"payment\": \"394a7f26d61611e88b4abc764e1043b0\",\n            \"shipping_address\": \"c4cd7f86ccc411e8ada3bc764e101db1\",\n            \"public_id\": \"6120b166d62d11e8aaf0bc764e107990\",\n            \"sub_total\": \"95.12\",\n            \"tax_total\": \"0.00\",\n            \"shipping_total\": \"0.00\",\n            \"discount_total\": \"91.78\",\n            \"total\": \"95.12\",\n            \"created\": \"2018-10-22 14:05:02\",\n            \"updated\": \"2018-10-22 14:05:02\",\n            \"place\": \"2018-10-22 15:06:25\",\n            \"cancelled\": null,\n            \"tries\": 1,\n            \"generic_error_count\": 0,\n            \"status\": 3,\n            \"type\": 1,\n            \"order_merchant_id\": null,\n            \"rejected_message\": \"{\\\"message\\\": \\\"Unable to ingest order 2938617 into D365. Unable to find any PaymentToken against the provided CustomerProfileID\\\", \\\"code\\\": \\\"020\\\"}\",\n            \"extra_data\": null,\n            \"locked\": false,\n            \"oos_free_shipping\": false\n        }\n    ] \n}"}},"schema":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","properties":{"merchant":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2"},"customer":{"type":"string","example":"00026001"},"payment":{"type":"string","example":"394a7f26d61611e88b4abc764e1043b0"},"shipping_address":{"type":"string","example":"c4cd7f86ccc411e8ada3bc764e101db1"},"public_id":{"type":"string","example":"6120b166d62d11e8aaf0bc764e107990"},"sub_total":{"type":"string","example":"95.12"},"tax_total":{"type":"string","example":"0.00"},"shipping_total":{"type":"string","example":"0.00"},"discount_total":{"type":"string","example":"91.78"},"total":{"type":"string","example":"95.12"},"created":{"type":"string","example":"2018-10-22 14:05:02"},"updated":{"type":"string","example":"2018-10-22 14:05:02"},"place":{"type":"string","example":"2018-10-22 15:06:25"},"cancelled":{},"tries":{"type":"integer","example":1,"default":0},"generic_error_count":{"type":"integer","example":0,"default":0},"status":{"type":"integer","example":3,"default":0},"type":{"type":"integer","example":1,"default":0},"order_merchant_id":{},"rejected_message":{"type":"string","example":"{\"message\": \"Unable to ingest order 2938617 into D365. Unable to find any PaymentToken against the provided CustomerProfileID\", \"code\": \"020\"}"},"extra_data":{},"locked":{"type":"boolean","example":false,"default":true},"oos_free_shipping":{"type":"boolean","example":false,"default":true}}}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}}},"deprecated":false}},"/orders/{order_id}/":{"get":{"summary":"Retrieve","description":"Returns a single order by its unique identifier.\n\nThis endpoint is accessible with a recognized trust group by setting it as <trust_level: \"recognized\"> in the authentication string.","operationId":"orders-retrieve","parameters":[{"name":"order_id","in":"path","description":"Unique order ID","schema":{"type":"string"},"required":true},{"name":"include_has_plan","in":"query","description":"If true, the response includes a has_plan field on the order object indicating whether the order contains at least one product with product_type=plan","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"merchant\": \"ac4f7938383a11e89ecbbc764e1107f2\",\n    \"customer\": \"00026001\",\n    \"payment\": \"070001bc02fd11e99542bc764e1043b0\",\n    \"shipping_address\": \"66c25cd0564011e9abc5bc764e107990\",\n    \"public_id\": \"c4e05d04ccc411e8ada3bc764e101db1\",\n    \"sub_total\": \"22.90\",\n    \"tax_total\": \"0.00\",\n    \"shipping_total\": \"5.99\",\n    \"discount_total\": \"21.08\",\n    \"total\": \"28.89\",\n    \"created\": \"2018-10-10 14:43:32\",\n    \"place\": \"2019-06-06 12:08:37\",\n    \"cancelled\": \"2019-04-05 12:13:32\",\n    \"tries\": 1,\n    \"generic_error_count\": 0,\n    \"status\": 1,\n    \"type\": 1,\n    \"order_merchant_id\": \"\",\n    \"rejected_message\": \"\",\n    \"extra_data\": \"\",\n    \"locked\": false,\n    \"oos_free_shipping\": false\n}\n"}},"schema":{"type":"object","properties":{"merchant":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2"},"customer":{"type":"string","example":"00026001"},"payment":{"type":"string","example":"070001bc02fd11e99542bc764e1043b0"},"shipping_address":{"type":"string","example":"66c25cd0564011e9abc5bc764e107990"},"public_id":{"type":"string","example":"c4e05d04ccc411e8ada3bc764e101db1"},"sub_total":{"type":"string","example":"22.90"},"tax_total":{"type":"string","example":"0.00"},"shipping_total":{"type":"string","example":"5.99"},"discount_total":{"type":"string","example":"21.08"},"total":{"type":"string","example":"28.89"},"created":{"type":"string","example":"2018-10-10 14:43:32"},"place":{"type":"string","example":"2019-06-06 12:08:37"},"cancelled":{"type":"string","example":"2019-04-05 12:13:32"},"tries":{"type":"integer","example":1,"default":0},"generic_error_count":{"type":"integer","example":0,"default":0},"status":{"type":"integer","example":1,"default":0},"type":{"type":"integer","example":1,"default":0},"order_merchant_id":{"type":"string","example":""},"rejected_message":{"type":"string","example":""},"extra_data":{"type":"string","example":""},"locked":{"type":"boolean","example":false,"default":true},"oos_free_shipping":{"type":"boolean","example":false,"default":true}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Unable to find requested asset.\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Unable to find requested asset."}}}}}}},"deprecated":false}},"/orders/{order_id}/cancel/":{"patch":{"summary":"Cancel","description":"Cancels an order.  If the order is associated with a subscription, the subsequent order will be created based on its set frequency.","operationId":"orders-cancel","parameters":[{"name":"order_id","in":"path","description":"Unique order ID","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"merchant\": \"ac4f7938383a11e89ecbbc764e1107f2\",\n    \"customer\": \"00026001\",\n    \"payment\": \"070001bc02fd11e99542bc764e1043b0\",\n    \"shipping_address\": \"66c25cd0564011e9abc5bc764e107990\",\n    \"public_id\": \"c4e05d04ccc411e8ada3bc764e101db1\",\n    \"sub_total\": \"22.90\",\n    \"tax_total\": \"0.00\",\n    \"shipping_total\": \"5.99\",\n    \"discount_total\": \"21.08\",\n    \"total\": \"28.89\",\n    \"created\": \"2018-10-10 14:43:32\",\n    \"place\": \"2019-06-06 12:08:37\",\n    \"cancelled\": \"2019-04-05 12:13:32\",\n    \"tries\": 1,\n    \"generic_error_count\": 0,\n    \"status\": 1,\n    \"type\": 1,\n    \"order_merchant_id\": \"\",\n    \"rejected_message\": \"\",\n    \"extra_data\": \"\",\n    \"locked\": false,\n    \"oos_free_shipping\": false\n}\n"}},"schema":{"type":"object","properties":{"merchant":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2"},"customer":{"type":"string","example":"00026001"},"payment":{"type":"string","example":"070001bc02fd11e99542bc764e1043b0"},"shipping_address":{"type":"string","example":"66c25cd0564011e9abc5bc764e107990"},"public_id":{"type":"string","example":"c4e05d04ccc411e8ada3bc764e101db1"},"sub_total":{"type":"string","example":"22.90"},"tax_total":{"type":"string","example":"0.00"},"shipping_total":{"type":"string","example":"5.99"},"discount_total":{"type":"string","example":"21.08"},"total":{"type":"string","example":"28.89"},"created":{"type":"string","example":"2018-10-10 14:43:32"},"place":{"type":"string","example":"2019-06-06 12:08:37"},"cancelled":{"type":"string","example":"2019-04-05 12:13:32"},"tries":{"type":"integer","example":1,"default":0},"generic_error_count":{"type":"integer","example":0,"default":0},"status":{"type":"integer","example":1,"default":0},"type":{"type":"integer","example":1,"default":0},"order_merchant_id":{"type":"string","example":""},"rejected_message":{"type":"string","example":""},"extra_data":{"type":"string","example":""},"locked":{"type":"boolean","example":false,"default":true},"oos_free_shipping":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"[field_name]\": \"field_name error detail\"\n}\n"}},"schema":{"type":"object","properties":{"[field_name]":{"type":"string","example":"field_name error detail"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Unable to find requested asset.\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Unable to find requested asset."}}}}}}},"deprecated":false}},"/orders/{order_id}/send_now/":{"patch":{"summary":"Send Now","description":"Sends an order to the merchant, setting order placement within a 24-hour window.","operationId":"orders-send-now","parameters":[{"name":"order_id","in":"path","description":"Unique order ID","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"merchant\": \"ac4f7938383a11e89ecbbc764e1107f2\",\n    \"customer\": \"00026001\",\n    \"payment\": \"070001bc02fd11e99542bc764e1043b0\",\n    \"shipping_address\": \"66c25cd0564011e9abc5bc764e107990\",\n    \"public_id\": \"c4e05d04ccc411e8ada3bc764e101db1\",\n    \"sub_total\": \"22.90\",\n    \"tax_total\": \"0.00\",\n    \"shipping_total\": \"5.99\",\n    \"discount_total\": \"21.08\",\n    \"total\": \"28.89\",\n    \"created\": \"2018-10-10 14:43:32\",\n    \"place\": \"2019-06-06 12:08:37\",\n    \"cancelled\": \"2019-04-05 12:13:32\",\n    \"tries\": 1,\n    \"generic_error_count\": 0,\n    \"status\": 1,\n    \"type\": 1,\n    \"order_merchant_id\": \"\",\n    \"rejected_message\": \"\",\n    \"extra_data\": \"\",\n    \"locked\": false,\n    \"oos_free_shipping\": false\n}\n"}},"schema":{"type":"object","properties":{"merchant":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2"},"customer":{"type":"string","example":"00026001"},"payment":{"type":"string","example":"070001bc02fd11e99542bc764e1043b0"},"shipping_address":{"type":"string","example":"66c25cd0564011e9abc5bc764e107990"},"public_id":{"type":"string","example":"c4e05d04ccc411e8ada3bc764e101db1"},"sub_total":{"type":"string","example":"22.90"},"tax_total":{"type":"string","example":"0.00"},"shipping_total":{"type":"string","example":"5.99"},"discount_total":{"type":"string","example":"21.08"},"total":{"type":"string","example":"28.89"},"created":{"type":"string","example":"2018-10-10 14:43:32"},"place":{"type":"string","example":"2019-06-06 12:08:37"},"cancelled":{"type":"string","example":"2019-04-05 12:13:32"},"tries":{"type":"integer","example":1,"default":0},"generic_error_count":{"type":"integer","example":0,"default":0},"status":{"type":"integer","example":1,"default":0},"type":{"type":"integer","example":1,"default":0},"order_merchant_id":{"type":"string","example":""},"rejected_message":{"type":"string","example":""},"extra_data":{"type":"string","example":""},"locked":{"type":"boolean","example":false,"default":true},"oos_free_shipping":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"[field_name]\": \"field_name error detail\"\n}\n"}},"schema":{"type":"object","properties":{"[field_name]":{"type":"string","example":"field_name error detail"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Unable to find requested asset.\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Unable to find requested asset."}}}}}}},"deprecated":false}},"/orders/{order_id}/change_shipping/":{"patch":{"summary":"Change Shipping Address","description":"Changes the shipping address associated with an order.","operationId":"orders-change-shipping-address","parameters":[{"name":"order_id","in":"path","description":"Unique order ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"shipping_address":{"type":"string","description":"Shipping Address ID"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"merchant\": \"ac4f7938383a11e89ecbbc764e1107f2\",\n    \"customer\": \"00026001\",\n    \"payment\": \"070001bc02fd11e99542bc764e1043b0\",\n    \"shipping_address\": \"66c25cd0564011e9abc5bc764e107990\",\n    \"public_id\": \"c4e05d04ccc411e8ada3bc764e101db1\",\n    \"sub_total\": \"22.90\",\n    \"tax_total\": \"0.00\",\n    \"shipping_total\": \"5.99\",\n    \"discount_total\": \"21.08\",\n    \"total\": \"28.89\",\n    \"created\": \"2018-10-10 14:43:32\",\n    \"place\": \"2019-06-06 12:08:37\",\n    \"cancelled\": \"2019-04-05 12:13:32\",\n    \"tries\": 1,\n    \"generic_error_count\": 0,\n    \"status\": 1,\n    \"type\": 1,\n    \"order_merchant_id\": \"\",\n    \"rejected_message\": \"\",\n    \"extra_data\": \"\",\n    \"locked\": false,\n    \"oos_free_shipping\": false\n}\n"}},"schema":{"type":"object","properties":{"merchant":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2"},"customer":{"type":"string","example":"00026001"},"payment":{"type":"string","example":"070001bc02fd11e99542bc764e1043b0"},"shipping_address":{"type":"string","example":"66c25cd0564011e9abc5bc764e107990"},"public_id":{"type":"string","example":"c4e05d04ccc411e8ada3bc764e101db1"},"sub_total":{"type":"string","example":"22.90"},"tax_total":{"type":"string","example":"0.00"},"shipping_total":{"type":"string","example":"5.99"},"discount_total":{"type":"string","example":"21.08"},"total":{"type":"string","example":"28.89"},"created":{"type":"string","example":"2018-10-10 14:43:32"},"place":{"type":"string","example":"2019-06-06 12:08:37"},"cancelled":{"type":"string","example":"2019-04-05 12:13:32"},"tries":{"type":"integer","example":1,"default":0},"generic_error_count":{"type":"integer","example":0,"default":0},"status":{"type":"integer","example":1,"default":0},"type":{"type":"integer","example":1,"default":0},"order_merchant_id":{"type":"string","example":""},"rejected_message":{"type":"string","example":""},"extra_data":{"type":"string","example":""},"locked":{"type":"boolean","example":false,"default":true},"oos_free_shipping":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"[field_name]\": \"field_name error detail\"\n}\n"}},"schema":{"type":"object","properties":{"[field_name]":{"type":"string","example":"field_name error detail"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Unable to find requested asset.\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Unable to find requested asset."}}}}}}},"deprecated":false}},"/orders/{order_id}/change_payment/":{"patch":{"summary":"Change Payment","description":"Changes the payment method and associated billing address for an individual order.","operationId":"orders-change-payment","parameters":[{"name":"order_id","in":"path","description":"Unique order ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["payment"],"properties":{"payment":{"type":"string","description":"Payment record ID"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"merchant\": \"ac4f7938383a11e89ecbbc764e1107f2\",\n    \"customer\": \"00026001\",\n    \"payment\": \"070001bc02fd11e99542bc764e1043b0\",\n    \"shipping_address\": \"66c25cd0564011e9abc5bc764e107990\",\n    \"public_id\": \"c4e05d04ccc411e8ada3bc764e101db1\",\n    \"sub_total\": \"22.90\",\n    \"tax_total\": \"0.00\",\n    \"shipping_total\": \"5.99\",\n    \"discount_total\": \"21.08\",\n    \"total\": \"28.89\",\n    \"created\": \"2018-10-10 14:43:32\",\n    \"place\": \"2020-08-20 00:00:00\",\n    \"cancelled\": \"2019-04-05 12:13:32\",\n    \"tries\": 1,\n    \"generic_error_count\": 0,\n    \"status\": 1,\n    \"type\": 1,\n    \"order_merchant_id\": \"\",\n    \"rejected_message\": \"\",\n    \"extra_data\": \"\",\n    \"locked\": false,\n    \"oos_free_shipping\": false\n}\n"}},"schema":{"type":"object","properties":{"merchant":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2"},"customer":{"type":"string","example":"00026001"},"payment":{"type":"string","example":"070001bc02fd11e99542bc764e1043b0"},"shipping_address":{"type":"string","example":"66c25cd0564011e9abc5bc764e107990"},"public_id":{"type":"string","example":"c4e05d04ccc411e8ada3bc764e101db1"},"sub_total":{"type":"string","example":"22.90"},"tax_total":{"type":"string","example":"0.00"},"shipping_total":{"type":"string","example":"5.99"},"discount_total":{"type":"string","example":"21.08"},"total":{"type":"string","example":"28.89"},"created":{"type":"string","example":"2018-10-10 14:43:32"},"place":{"type":"string","example":"2020-08-20 00:00:00"},"cancelled":{"type":"string","example":"2019-04-05 12:13:32"},"tries":{"type":"integer","example":1,"default":0},"generic_error_count":{"type":"integer","example":0,"default":0},"status":{"type":"integer","example":1,"default":0},"type":{"type":"integer","example":1,"default":0},"order_merchant_id":{"type":"string","example":""},"rejected_message":{"type":"string","example":""},"extra_data":{"type":"string","example":""},"locked":{"type":"boolean","example":false,"default":true},"oos_free_shipping":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"[field_name]\": \"field_name error detail\"\n}\n"}},"schema":{"type":"object","properties":{"[field_name]":{"type":"string","example":"field_name error detail"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Unable to find requested asset.\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Unable to find requested asset."}}}}}}},"deprecated":false}},"/orders/{order_id}/change_place_date/":{"patch":{"summary":"Change Place Date","description":"Changes the placement date for an individual order.","operationId":"orders-change-place-date","parameters":[{"name":"order_id","in":"path","description":"Unique order ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["place"],"properties":{"place":{"type":"string","description":"Date order was/will be placed. Use YYYY-MM-DD HH:MM:SS as the format."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"merchant\": \"ac4f7938383a11e89ecbbc764e1107f2\",\n    \"customer\": \"00026001\",\n    \"payment\": \"070001bc02fd11e99542bc764e1043b0\",\n    \"shipping_address\": \"66c25cd0564011e9abc5bc764e107990\",\n    \"public_id\": \"c4e05d04ccc411e8ada3bc764e101db1\",\n    \"sub_total\": \"22.90\",\n    \"tax_total\": \"0.00\",\n    \"shipping_total\": \"5.99\",\n    \"discount_total\": \"21.08\",\n    \"total\": \"28.89\",\n    \"created\": \"2018-10-10 14:43:32\",\n    \"place\": \"2020-08-20 00:00:00\",\n    \"cancelled\": \"2019-04-05 12:13:32\",\n    \"tries\": 1,\n    \"generic_error_count\": 0,\n    \"status\": 1,\n    \"type\": 1,\n    \"order_merchant_id\": \"\",\n    \"rejected_message\": \"\",\n    \"extra_data\": \"\",\n    \"locked\": false,\n    \"oos_free_shipping\": false\n}\n"}},"schema":{"type":"object","properties":{"merchant":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2"},"customer":{"type":"string","example":"00026001"},"payment":{"type":"string","example":"070001bc02fd11e99542bc764e1043b0"},"shipping_address":{"type":"string","example":"66c25cd0564011e9abc5bc764e107990"},"public_id":{"type":"string","example":"c4e05d04ccc411e8ada3bc764e101db1"},"sub_total":{"type":"string","example":"22.90"},"tax_total":{"type":"string","example":"0.00"},"shipping_total":{"type":"string","example":"5.99"},"discount_total":{"type":"string","example":"21.08"},"total":{"type":"string","example":"28.89"},"created":{"type":"string","example":"2018-10-10 14:43:32"},"place":{"type":"string","example":"2020-08-20 00:00:00"},"cancelled":{"type":"string","example":"2019-04-05 12:13:32"},"tries":{"type":"integer","example":1,"default":0},"generic_error_count":{"type":"integer","example":0,"default":0},"status":{"type":"integer","example":1,"default":0},"type":{"type":"integer","example":1,"default":0},"order_merchant_id":{"type":"string","example":""},"rejected_message":{"type":"string","example":""},"extra_data":{"type":"string","example":""},"locked":{"type":"boolean","example":false,"default":true},"oos_free_shipping":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"[field_name]\": \"field_name error detail\"\n}\n"}},"schema":{"type":"object","properties":{"[field_name]":{"type":"string","example":"field_name error detail"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Unable to find requested asset.\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Unable to find requested asset."}}}}}}},"deprecated":false}},"/orders/{order_id}/update/":{"patch":{"summary":"Update","description":"Use this request to update the 'extra_data' field of an existing order.","operationId":"orders-update","parameters":[{"name":"order_id","in":"path","description":"Unique order ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["extra_data"],"properties":{"extra_data":{"type":"string","description":"Extra order data","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"merchant\": \"ac4f7938383a11e89ecbbc764e1107f2\",\n    \"customer\": \"00026001\",\n    \"payment\": \"070001bc02fd11e99542bc764e1043b0\",\n    \"shipping_address\": \"66c25cd0564011e9abc5bc764e107990\",\n    \"public_id\": \"c4e05d04ccc411e8ada3bc764e101db1\",\n    \"sub_total\": \"22.90\",\n    \"tax_total\": \"0.00\",\n    \"shipping_total\": \"5.99\",\n    \"discount_total\": \"21.08\",\n    \"total\": \"28.89\",\n    \"created\": \"2018-10-10 14:43:32\",\n    \"place\": \"2020-08-20 00:00:00\",\n    \"cancelled\": \"2019-04-05 12:13:32\",\n    \"tries\": 1,\n    \"generic_error_count\": 0,\n    \"status\": 1,\n    \"type\": 1,\n    \"order_merchant_id\": \"\",\n    \"rejected_message\": \"\",\n    \"extra_data\": \"\",\n    \"locked\": false,\n    \"oos_free_shipping\": false\n}\n"}},"schema":{"type":"object","properties":{"merchant":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2"},"customer":{"type":"string","example":"00026001"},"payment":{"type":"string","example":"070001bc02fd11e99542bc764e1043b0"},"shipping_address":{"type":"string","example":"66c25cd0564011e9abc5bc764e107990"},"public_id":{"type":"string","example":"c4e05d04ccc411e8ada3bc764e101db1"},"sub_total":{"type":"string","example":"22.90"},"tax_total":{"type":"string","example":"0.00"},"shipping_total":{"type":"string","example":"5.99"},"discount_total":{"type":"string","example":"21.08"},"total":{"type":"string","example":"28.89"},"created":{"type":"string","example":"2018-10-10 14:43:32"},"place":{"type":"string","example":"2020-08-20 00:00:00"},"cancelled":{"type":"string","example":"2019-04-05 12:13:32"},"tries":{"type":"integer","example":1,"default":0},"generic_error_count":{"type":"integer","example":0,"default":0},"status":{"type":"integer","example":1,"default":0},"type":{"type":"integer","example":1,"default":0},"order_merchant_id":{"type":"string","example":""},"rejected_message":{"type":"string","example":""},"extra_data":{"type":"string","example":""},"locked":{"type":"boolean","example":false,"default":true},"oos_free_shipping":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"[field_name]\": \"field_name error detail\"\n}\n"}},"schema":{"type":"object","properties":{"[field_name]":{"type":"string","example":"field_name error detail"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication Failed\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication Failed"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Unable to find requested asset.\"\n}\n"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Unable to find requested asset."}}}}}}},"deprecated":false}},"/orders/{order_id}/finalize_placement/":{"patch":{"summary":"Finalize processing Order","description":"This endpoint is used to finalize order placement when the initial response to the Order Placement API is PROCESSING rather than a final status. It allows merchants to later submit the final placement result once processing is complete on their side.","operationId":"finalize-processing-order","parameters":[{"name":"order_id","in":"path","description":"Unique order ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"processing_response_id":{"type":"string","description":"Order Merchant ID"},"response_xml":{"type":"string","description":"Rsponse XML"},"idempotency_key":{"type":"string","description":"Unique response ID"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"order\": \"c4e05d04ccc411e8ada3bc764e101db1\",\n    \"merchant\": \"ac4f7938383a11e89ecbbc764e1107f2\",\n    \"status\": 5,\n    \"display_status\": \"SUCCESS\",\n    \"error_code\": null,\n    \"error_message\": null,\n    \"retry\": false,\n\t\t\"currency_units_per_merchant_currency_unit\": 1\n}\n"}},"schema":{"type":"object","properties":{"order":{"type":"string","example":"c4e05d04ccc411e8ada3bc764e101db1"},"merchant":{"type":"string","example":"ac4f7938383a11e89ecbbc764e1107f2"},"status":{"type":"integer","example":5,"default":0},"display_status":{"type":"string","example":"SUCCESS"},"error_code":{},"error_message":{},"retry":{"type":"boolean","example":false,"default":true},"currency_units_per_merchant_currency_unit":{"type":"integer","example":1,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{'error_code': 3, 'error_message': 'Order status indicates it is not editable'}"}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/orders/{order_id}/retry_instruction/reject/":{"patch":{"summary":"Reject","description":"","operationId":"reject-order","parameters":[{"name":"order_id","in":"path","description":"Unique order ID","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/items/":{"get":{"summary":"List","description":"Returns a list of all the order items for an individual user.","operationId":"items-list","parameters":[{"name":"order","in":"query","description":"Order ID","schema":{"type":"string"}},{"name":"offer","in":"query","description":"Offer ID","schema":{"type":"string"}},{"name":"subscription","in":"query","description":"Subscription ID","schema":{"type":"string"}},{"name":"one_time","in":"query","description":"Indicates if item was the result of Impulse Upsell functionality","schema":{"type":"boolean"}},{"name":"status","in":"query","description":"Order status code","schema":{"type":"integer","format":"int32"}},{"name":"place","in":"query","description":"Order's place date exact match (yyyy-mm-dd)","schema":{"type":"string","format":"date"}},{"name":"place_start","in":"query","description":"Order's place date later or equal than parameter (yyyy-mm-dd)","schema":{"type":"string","format":"date"}},{"name":"place_end","in":"query","description":"Order's place date sooner or equal than parameter (yyyy-mm-dd)","schema":{"type":"string","format":"date"}},{"name":"product","in":"query","description":"Product's external_product_id - filter items by the proper product currently associated with them.","schema":{"type":"string"}},{"name":"omit_price_calculation","in":"query","description":"If True, Ordergroove will omit the `price`, `total_cost`, and `extra_cost` fields from the Response Bod
[...]
