{"openapi":"3.1.0","info":{"title":"ordergroove-webhooks-api","version":"2.10.0"},"servers":[{"url":"https://webhooks.ordergroove.com"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"query","name":"api_key"}}},"security":[{"sec0":[]}],"paths":{"/webhook_targets":{"get":{"summary":"List","description":"You must authenticate with API User scope to access.","operationId":"webhook-targets-list","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[{\n  \"next\": next_page_url,\n  \"previous\": previous_page_url,\n  \"results\": [\n    {\n      \"id\": \"5f15ef298dc15df9bc6eda35\"\n      \"merchant\": \"aaaa1111bbbb2222cccc\",\n      \"target_url\": \"https://webhook.target/uri\",\n      \"enabled\": false,\n      \"created\": 1595273001,\n      \"updated\": 1597260663\n    },{\n      \"id\": \"6715ef34ggc15df9bc6e48fg5\"\n      \"merchant\": \"aaaa1111bbbb2222cccc\",\n      \"target_url\": \"https://webhook.target/uri-2\",\n      \"enabled\": true,\n      \"created\": 1595275839,\n      \"updated\": 1597390666\n    }\n    ...\n  ]\n},"}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\"detail\": \"Not found\"}"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Not found"}}}}}}},"deprecated":false}},"/webhook_targets/{id}":{"get":{"summary":"Retrieve","description":"You must authenticate with API User scope to access.","operationId":"webhook-targets-retrieve","parameters":[{"name":"id","in":"path","description":"Public identifier of webhook target","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"5f15ef298dc15df9bc6eda35\"\n  \"merchant\": \"aaaa1111bbbb2222cccc\",\n  \"target_url\": \"https://webhook.target/uri\",\n  \"enabled\": false,\n  \"created\": 1595273001,\n  \"updated\": 1597260663\n}"}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\"detail\": \"Not found\"}"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Not found"}}}}}}},"deprecated":false},"patch":{"summary":"Update","description":"You must authenticate with API User scope to access.","operationId":"create-5","parameters":[{"name":"id","in":"path","description":"Public identifier of webhook target","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"target_url":{"type":"string","description":"Url to which Ordergroove will send events. (must be accessible)"},"enabled":{"type":"boolean","description":"Whether or not Ordergroove is actively sending the target events."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"5f15ef298dc15df9bc6eda35\"\n  \"merchant\": \"aaaa1111bbbb2222cccc\",\n  \"target_url\": \"https://webhook.target/uri\",\n  \"enabled\": false,\n  \"created\": 1595273001,\n  \"updated\": 1597260663\n}"}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\"detail\": \"Not found\"}"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Not found"}}}}}}},"deprecated":false}},"/webhook_targets/":{"post":{"summary":"Create","description":"You must authenticate with API User scope to access.","operationId":"webhook-targets-create","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["merchant","target_url"],"properties":{"merchant":{"type":"string","description":"Public ID of merchant for which the target will be configured"},"target_url":{"type":"string","description":"Url to which Ordergroove will send events. (must be accessible)"},"enabled":{"type":"boolean","description":"Whether or not Ordergroove is actively sending the target events."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"5f15ef298dc15df9bc6eda35\"\n  \"merchant\": \"aaaa1111bbbb2222cccc\",\n  \"target_url\": \"https://webhook.target/uri\",\n  \"enabled\": false,\n  \"created\": 1595273001,\n  \"updated\": 1597260663\n}"}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\"detail\": \"Not found\"}"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Not found"}}}}}}},"deprecated":false}},"/webhook_targets/{target_id}/metrics":{"get":{"summary":"Retrieve Target Metrics","description":"Returns statistics for last 30 days per target url.","operationId":"retrieve-metrics","parameters":[{"name":"target_id","in":"path","description":"Ordergroove id of your configured target","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"failed\": 12,\n  \"successful\": 102,\n  \"successful_retries\": 50,\n  \"pending_delivery\": 10\n}"}},"schema":{"type":"object","properties":{"failed":{"type":"integer","example":12,"default":0},"successful":{"type":"integer","example":102,"default":0},"successful_retries":{"type":"integer","example":50,"default":0},"pending_delivery":{"type":"integer","example":10,"default":0}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\"detail\": \"Not found\"}"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Not found"}}}}}}},"deprecated":false}},"/webhook_targets/{target_id}/filters":{"get":{"summary":"List","description":"","operationId":"webhook-filters-list","parameters":[{"name":"target_id","in":"path","description":"Webhook target id","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"post":{"summary":"Create","description":"","operationId":"webhook-filters-create","parameters":[{"name":"target_id","in":"path","description":"Webhook target id","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["pattern"],"properties":{"pattern":{"type":"string","description":"Regular expression pattern off which filter is based"}}},"examples":{"Request Example":{"value":{"pattern":"subscription.*"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"5f15ef298dc15df9bc6eda35\"\n  \"target\": \"aaaa1111bbbb2222cccc\",\n  \"pattern\": \"subscription.*\",\n  \"created\": 1595273001\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/webhook_targets/{target_id}/filters/{id}":{"get":{"summary":"Retrieve","description":"","operationId":"webhook-filter-retrieve","parameters":[{"name":"target_id","in":"path","description":"Webhook target id","schema":{"type":"string"},"required":true},{"name":"id","in":"path","description":"ID of filter","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"patch":{"summary":"Update","description":"","operationId":"webhook-filters-update","parameters":[{"name":"target_id","in":"path","description":"Webhook target id","schema":{"type":"string"},"required":true},{"name":"id","in":"path","description":"ID of filter","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["pattern"],"properties":{"pattern":{"type":"string","description":"Regular expression pattern off which filter is based"}}},"examples":{"Request Example":{"value":{"pattern":"subscription.*"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"5f15ef298dc15df9bc6eda35\"\n  \"target\": \"aaaa1111bbbb2222cccc\",\n  \"pattern\": \"subscription.*\",\n  \"created\": 1595273001\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"delete":{"summary":"Delete","description":"","operationId":"webhook-filters-delete","parameters":[{"name":"target_id","in":"path","description":"Webhook target id","schema":{"type":"string"},"required":true},{"name":"id","in":"path","description":"ID of filter","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["pattern"],"properties":{"pattern":{"type":"string","description":"Regular expression pattern off which filter is based"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"5f15ef298dc15df9bc6eda35\"\n  \"target\": \"aaaa1111bbbb2222cccc\",\n  \"pattern\": \"subscription.*\",\n  \"created\": 1595273001\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":false},"x-readme-fauxas":true}